<!DOCTYPE html>

<html lang="en">
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static "assets/css/default.css" %}">
	<script src="{% static "assets/js/jquery-2.0.0.min.js" %}"></script>
	<script src="{% static "assets/js/ajax.js" %}"></script>
	<title>{% block title %}Skylight Productions {% endblock %}</title>
</head>

<body class="container_12">
	<div id="sidebar">
		{% block sidebar %}
		<ul>
			<li><a href="{% url "article_list" %}">All Articles</a></li>
		</ul>
		{% endblock %}
	</div>
	<div id="content" class="grid_12">
		{% block content %} 
		
		{% endblock %}

			<img src="{% static "assets/images/image.png" %}" />
	</div>
</body>
</html>
